*{margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(90deg,blue, blue, #00f7ff, #00ccff 100%);   
}
.contactUs{
    position: relative;
    width:100%;
    padding: 40px 100px;
}
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title h2{
    color:hsl(180, 44%, 94%);
    font-weight: 500;
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: white;
    box-shadow: 0 5px 35px hwb(93 0% 90% / 0.2);
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map"
    ;
    grid-gap: 20px;
    margin-top: 20px;
   
}
.contact h3{
    color:hwb(192 2% 75%);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
/* form */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width:50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox span{
    color: #00ccff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #15ccd9;
    resize: none;
    min-height: 220px; 
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: hsl(317, 88%, 48%);
    color: azure;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 15px;
}
/*info*/
.info{
    background: rgb(6, 99, 124);
}
.info h3{
    color: white;
}
.info .infoBox div{
display: flex;
align-items: center;
margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: hsl(195, 22%, 96%);
    background: #15ccd9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px; 
}
.info .infoBox div p{
    color: white;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: white;
    font-size: 2em;
    color: white;
}
.sci li a:hover{
    color: rgb(255, 255, 255);
}
.map{
    padding:0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
/*responive design*/
@media (max-width: 991px){
    body{
        background: #03a9f5;
    }
    .contactUs{
        padding: 20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap:0;
        flex-direction: column;
    }
    .inputBox{
        width:100%;
    }
    .contact{
        padding: 30px;
    }
}
