
*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
background-color: bisque;
min-height: 100vh;
overflow-x: hidden;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15 px rgb(11, 0, 0);

}
   .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
  }
  .group{

    display: flex;
    align-items: center;
  }
  header ul{
    position: relative;
    display: flex;
    gap: 30px;
  }
  header ul li{
    list-style: none;
  }

header ul li a{
 position: relative;
 text-decoration: none; 
 font-size: 1rem;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 0.2em;
}
header ul li a::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: hotpink;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before{
transform: scaleX(1);
transform-origin: left;
}
header .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}
.searchBox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox input{
  width: 100%;
  border: none;
  outline: none;
  color: black;
  height: 50px;
  font-size: 1.25em;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}